@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1>Kursus Bahasa Inggris</h1>
    <br />
    <h2>Guru profesional dengan sistem pengajaran terbaik</h2>
    <br />
    <p>Berdasarkan pada pola pembelajaran bahasa siswa-siswi KursusEng di Indonesia, KursusEng telah mengkhususkan dirinya dalam pengembangan sistem dan metode pengajaran baru untuk membantu siswa-siswi menguasai bahasa Inggris dengan lebih efektif dan membangun kepercayaan diri mereka untuk berbicara bahasa Inggris.</p>
</div>

<p>Untuk Info lebih lanjut, Hubungi Kami melalui :</p>

<br />
<br />
<br />

<p>Phone/WA : 0869699696</p>
<p>Email : contact@kursus-eng.co.id</p>
<p>Jalan Diponogoro Blok Z No 20</p>
<p>Dipatiukur, Bandung - 40567</p>
<p>Indonesia</p>
