@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Kursus Bahasa Enggres Terbaik di Indonesia!</h1>
    <p>Tekan Tombol "Daftar" untuk mendaftar kursus</a>.</p>
    <button id="redirect" type="submit" class="w-100 btn btn-lg btn-primary" onclick="window.location= '@Url.Action( "Create", "DaftarKursus")'">Daftar Kursus!</button>
</div>

